body{
text-align:center;
background-color:aqua;
}
#app{
    background-color:springgreen;
    height:800px;
}

#game{
    background-color:red;
}

#carousel1{
    background-color: red;
}